 {% include 'public_header.html'%}
 
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Welcome to <span>RTOAssistNow</span></h2>
              <p class="animated fadeInUp">your gateway to efficient and hassle-free management of all your regional transport needs..</p>
              <a href="/login" class="btn-get-started animated fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/static/assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Welcome to <span>RTOAssistNow</span></h2>
              <p class="animated fadeInUp">empower you with the tools and knowledge needed to navigate the world of regional transport confidently and efficiently.</p>
              <a href="/login" class="btn-get-started animated fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/static/assets/img/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Welcome to <span>RTOAssistNow</span></h2>
              <p class="animated fadeInUp">Thank you for choosing the Regional Transport Office's website. Whether you're a commuter, a business owner, or a transport professional, we are here to serve you. Together, we can make transportation services more accessible, efficient, and user-friendly.</p>
              <a href="/login" class="btn-get-started animated fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

 

    

    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Services</h2>
          <h3><span>Check our Services</span></h3>
          
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">
              <div class="col-lg-4 col-md-6 icon-box" style="font-size: 50px;">
    <!--<div class="icon"><i ><img src="/static/assets/img/license.jpg"></i></div>-->
    <h4 class="title" style="font-size: 25px;"><a href="">-Drivers/Learners License</a></h4>
    <p class="description" style="font-size: 16px;">License registration on your fingertips</p>
</div>

              <div class="col-lg-4 col-md-6 icon-box" style="font-size: 50px;">
                <!--<div class="icon"><i><img src="/static/assets/img/vehreg.png"></i></div>-->
                <h4 class="title" style="font-size: 25px;"><a href="">-Vehicle registration</a></h4>
                <p class="description" style="font-size: 16px;">One click for all the vehicle related citizen services</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" style="font-size: 50px;">
                <!--<div class="icon"><i><img src="/static/assets/img/taxi.png"></i></div>-->
                <h4 class="title" style="font-size: 25px;"><a href="">-Fancy Number Allocation</a></h4>
                <p class="description" style="font-size: 16px;">Your favorite number for your favorite vehicle</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" style="font-size: 50px;">
                <!--<div class="icon"><i class="ri-shape-line"></i></div>-->
                <h4 class="title" style="font-size: 25px;"><a href="">-Taxi Permit</a></h4>
                <p class="description" style="font-size: 16px;">Seamless online way for vehicle permits</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" style="font-size: 50px;">
                <!--<div class="icon"><i class="ri-fingerprint-line"></i></div>-->
                <h4 class="title" style="font-size: 25px;"><a href="">-Appointment</a></h4>
                <p class="description" style="font-size: 16px;">Book test and inspection appointments</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box">
                <!--<div class="icon"><i class="ri-body-scan-line"></i></div>-->
                <h4 class="title" style="font-size: 25px;"><a href="">-Other Services</a></h4>
                <p class="description" style="font-size: 16px;">Explore the plethora of services related to Driving License</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>"Ready to Hit the Road Legally? Register Now!"</h3>
         
          <a class="cta-btn" href="registration">Register</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Testimonials</h2>
          <h3><span>What They Are Saying About Us</span></h3>
          
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">

            <div class="row">

              <div class="col-lg-6">
                <div class="testimonial-item">
                  <img src="/static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>John S.</h3>
                  <h4>Vehicle Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I was amazed by how smooth and hassle-free the registration process was on the RTA website. The step-by-step guidance and user-friendly interface made it a breeze. Kudos to the RTA team!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial-item -->

              <div class="col-lg-6">
                <div class="testimonial-item mt-4 mt-lg-0">
                  <img src="/static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>New Driver</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                   I scheduled my driving test through the RTA website, and the process was straightforward.I passed and got my license on the same day!
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial-item -->

              <div class="col-lg-6">
                <div class="testimonial-item mt-4">
                  <img src="/static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Delivery Service Owner</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    The RTA's streamlined permit application process has made it so much easier for my delivery service. It's a time-saver and has improved our operational efficiency.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial-item -->

              <div class="col-lg-6">
                <div class="testimonial-item mt-4">
                  <img src="/static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Mike T.</h3>
                  <h4>Transport Service Provider</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    As a transport company owner, I frequently deal with permits and licenses. The RTA website has simplified the application process, saving me valuable time. The efficiency is commendable
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial-item -->

              <div class="col-lg-6">
                <div class="testimonial-item mt-4">
                  <img src="/static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Commercial Driver</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    The RTA's services for commercial drivers are exceptional. The quick turnaround for license renewals and permit applications helps me stay on the road and keep my business running smoothly
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div><!-- End testimonial-item -->

              
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container-fluid">

        <!--<div class="section-title">
          <h2>Team</h2>
          <h3>Our Hard Working <span>Team</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>-->

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="member">
                  <img src="/static/assets/img/team/pinarayi.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Shri Pinarayi Vijayan</h4>
                      <span>Hon.Chief Minister</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div> <!-- End Member Item -->

              <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="member">
                  <img src="/static/assets/img/team/antony.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Shri Antony Raju</h4>
                      <span>Hon.Transport Minister</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div> <!-- End Member Item -->

              <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="member">
                  <img src="/static/assets/img/team/sreejith.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Shri Sreejith IPS</h4>
                      <span>Transport Commissioner</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div> <!-- End Member Item -->

              <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                <div class="member">
                  <img src="/static/assets/img/team/pramoj.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Shri Pramoj Shankar</h4>
                      <span>Additional Transport Commissioner</span>
                    </div>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div> <!-- End Member Item -->

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Contact</h2>
          <h3> <span>Get In Touch With Us</span></h3>
          
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row">

              <div class="col-lg-6">

                <div class="row justify-content-center">

                  <div class="col-md-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-map"></i>
                    <h4>Address</h4>
                    <p>Kerala</p>
                  </div>
                  <div class="col-md-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-phone"></i>
                    <h4>Call Us</h4>
                    <p>+1 5589 55488 55<br>+1 5589 22548 64</p>
                  </div>
                  <div class="col-md-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-envelope"></i>
                    <h4>Email Us</h4>
                    <p>rto@example.com<br>info@example.com</p>
                  </div>
                  <div class="col-md-6 info d-flex flex-column align-items-stretch">
                    <i class="bx bx-time-five"></i>
                    <h4>Working Hours</h4>
                    <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
                  </div>

                </div>

              </div>

              <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="name">Your Name</label>
                      <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                      <label for="email">Your Email</label>
                      <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" required>
                  </div>
                  <div class="form-group mt-3">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" rows="8" required></textarea>
                  </div>
                  <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>
                  <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 {% include 'footer.html'%}
