{% include 'mvd_header.html' %}

<div class="ex">
<form method="post"  style="margin-bottom:-7em" class="animate__animated animate__fadeInUp">
  <center>



<h2 class="animate__animated animate__fadeInDown">Assign Register Number </h2>
   <h1></h1>
    <table class="table" style="width: 500px;">
      <tr>
        <th>Assign Register Number</th>
        <td><input type="text" name="rno" class="form-control" required=""></td>
      </tr>
      <tr>
        <td align="center" colspan="2"><input type="submit" name="assign" value="assign" class="btn btn-success"></td>
      </tr>
      </form>
    </table>
  </center>
  <center>

</center>



{% include 'footer.html' %}