{% include 'mvd_header.html' %}

<h1 style="text-align: center;">Change Password</h1>

<form method="post">
	
	<table class="table">
		<tr>
			<th>Enter username</th>
			<td><input type="text" name="username" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Enter the old password</th>
			<td><input type="password" name="old" required="" class="form-control"></td>
		</tr>
		<tr>
			<th>Enter new password</th>
			<td><input type="password" name="newpass" required="" class="form-control"></td>
		</tr>
		<tr>
			<td style="text-align: center;" colspan="2">
				<input type="submit" name="change" value="change" class="btn btn-success">
			</td>
		</tr>
	</table>
</form>


{% include 'footer.html' %}