{% include 'user_header.html' %}
<h1 style="text-align: center;"> Taxi Permit Application</h1>

<form method="post">
	<table class="table">
		<tr>
			
			<th>Vehicle Type</th>
			<th>Brand Name</th>
			<th>Model Name</th>
			<th>Status</th>
			
			
			
		</tr>
		{% for r in data['view'] %}

		<tr>
			
			<td>{{r['vehicle_type']}}</td>
			<td>{{r['brand_name']}}</td>
			<td>{{r['model_name']}}</td>
			<td>{{r['status']}}</td>
			
			
		</tr>

		{%endfor%}
	</table>
</form>

{% include 'footer.html' %}