{% include 'user_header.html' %}

<br><br>

	<h1 style="text-align: center;"> Exam Schedule</h1>
	<br><br>
	<form method="post">
		<table class="table">
			
			<tr>
				<th>Exam Date</th>
				<th>Exam Time</th>
				<th>Exam type</th>
				<th>Status</th>
			</tr>
			{% for r in data['exam'] %}
			<tr>
				<td>{{r['exam_date']}}</td>
				<td>{{r['exam_time']}}</td>
				<td>{{r['exam_type']}}</td>
				<td>{{r['Status']}}</td>
			</tr>
			{%endfor%}
			

		</table>
		
	</form>


{% include 'footer.html' %}